@using Microsoft.AspNetCore.SignalR.Client
@inherits LayoutComponentBase
@inject IMusicService MusicService;
@inject ISnackbar Snackbar;
<MudThemeProvider @ref="@_mudThemeProvider" IsDarkMode="@AppTools.IsDark"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider />


<div class="site-wrapper">
    <NavMenu></NavMenu>
    <main class="site-main">
        @Body
    </main>
    <footer class="site-footer">
        <div class="container">
            <p>
                <a href="https://beian.miit.gov.cn/" target="_blank">鄂ICP备20001883号-1</a>
            </p>
            <p class="mt-1" id="app-version">
                当前版本：@Program.Version
                <span class="connection-status" title="连接状态：未连接"></span>
            </p>
            <p>&copy; @DateTime.Now.Year Dpz.Core.Web</p>
        </div>
    </footer>

    <!-- Back To Top Button -->
    <MudScrollToTop TopOffset="100">
        <div class="back-to-top" title="返回顶部">
            <i class="fa fa-arrow-up"></i>
        </div>
    </MudScrollToTop>
</div>

@code
{
    [Inject]
    private IJSRuntime JsRuntime { get; set; }

    private MudThemeProvider _mudThemeProvider;

    protected override async Task OnInitializedAsync()
    {
        Program.Connection.On<string>("systemNotification", handler:msg =>
        {
            Snackbar.Add(msg);
        });
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //await JsRuntime.InvokeVoidAsync("appInit");
        if (firstRender)
        {
            AppTools.IsDark = await _mudThemeProvider.GetSystemPreference();
            //await JsRuntime.InvokeVoidAsync("playerInit");
            var musics = await MusicService.GetMusicPageAsync(1, 50);
            var list = musics.Select(x => new
            {
                artist = x.Artist,
                cover = x.CoverUrl,
                lrc = x.LyricUrl,
                name = x.Title,
                url = x.MusicUrl,
            });
            //await JsRuntime.InvokeVoidAsync("playerAddList", list);
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}