<!--blogsbox end-->
@using Dpz.Core.WebMore.Pages.ArticleComponent
<div class="sidebar">
    <News></News>
    <Like></Like>
    <Tags></Tags>
    <div class="links">
        <h2 class="home-title">友情链接</h2>
        <ul>
            <li>
                <a href="https://core.dpangzi.com" target="_blank">我隔壁</a>
            </li>
            <li>
                <a href="https://www.dongzeviva.cn/?from=https://www.dpangzi.com" target="_blank">为了吃方便面</a>
            </li>
        </ul>
    </div>
    <div class="guanzhu" id="gd">
        <h2 class="home-title">要联系我？</h2>
        <ul>
            <li class="sina">
                <a href="javascript:;"><span>新浪微博</span>微博？不就是粪坑吗？</a>
            </li>
            <li class="qq">
                <a href="https://wpa.qq.com/msgrd?v=3&uin=350952323&site=qq&menu=yes" target="_blank"><span>QQ</span>联系我</a>
            </li>
            <li class="email">
                <a href="mailto:pengqian089@hotmail.com" target="_blank"><span>邮箱</span>pengqian089@hotmail.com</a>
            </li>
        </ul>
    </div>
</div>