@using System.Web
@if (_loading)
{
    <MudCard>
        <MudCardActions>
            <MudSkeleton Width="25%" Height="40px" Class="ml-2"/>
            <MudSkeleton Width="25%" Height="40px" Class="ml-3"/>
            <MudSkeleton Width="25%" Height="40px" Class="ml-3"/>
        </MudCardActions>
        <MudCardActions>
            <MudSkeleton Width="25%" Height="40px" Class="ml-2"/>
            <MudSkeleton Width="25%" Height="40px" Class="ml-3"/>
            <MudSkeleton Width="25%" Height="40px" Class="ml-3"/>
        </MudCardActions>
        <MudCardActions>
            <MudSkeleton Width="25%" Height="40px" Class="ml-2"/>
            <MudSkeleton Width="25%" Height="40px" Class="ml-3"/>
            <MudSkeleton Width="25%" Height="40px" Class="ml-3"/>
        </MudCardActions>
    </MudCard>
}
else
{
    <div class="cloud">
        <h2 class="home-title">标签</h2>
        <ul>
            @foreach (var item in _tags)
            {
                <li><a href="/article/list/tag/@(HttpUtility.UrlEncode(item).Replace("+","%20"))">@item</a></li>
            }
        </ul>
    </div>
}