<div class="code-preview-container">
    @if (Node?.CodeContainer == null)
    {
        <pre><code>没有内容</code></pre>
    }
    else
    {
        @if (string.IsNullOrEmpty(Node.CodeContainer.Language))
        {
            <pre><code>@Node.CodeContainer.CodeContent</code></pre>
        }
        else if (string.Equals(Node.CodeContainer.Language, "markdown", StringComparison.CurrentCultureIgnoreCase))
        {
            <MarkdownPreview Markdown="@Node.CodeContainer.CodeContent"></MarkdownPreview>
        }
        else
        {
            <pre
                data-start="1"
                class="linkable-line-numbers">
                <code 
                    class="language-@Node.CodeContainer.Language">
                    @Node.CodeContainer.CodeContent
                </code>
            </pre>
        }
    }
</div>

@code {

    [Parameter] public CodeNoteTree? Node { get; set; }


    static string GetLanguage(string language)
    {
        if (string.IsNullOrEmpty(language))
            return "text";

        switch (language)
        {
            case "ignore":
                return "gitignore";
        }

        var languages = new[] { "sln", "docker", "git" };
        if (languages.Contains(language))
        {
            return "text";
        }

        return language;
    }

}
