@if (Node?.CodeContainer?.Language == "markdown" || !string.IsNullOrEmpty(Node?.ReadmeContent))
{
    var markdown = Node.CodeContainer?.Language == "markdown" ? Node.CodeContainer.CodeContent : Node.ReadmeContent;
    <div class="readme-main">
        <MarkdownPreview Markdown="@markdown"></MarkdownPreview>
    </div>
}
else
{
    <Preview Node="Node"></Preview>
}
@if (!string.IsNullOrWhiteSpace(Node?.CodeContainer?.AiAnalyzeResult))
{
    <div class="readme-main">
        <MarkdownPreview Markdown="@Node.CodeContainer.AiAnalyzeResult"></MarkdownPreview>
    </div>
}


@code {

    [Parameter]
    public CodeNoteTree? Node { get; set; }
}