@if (_loading)
{
    <RightArticleSkeleton />
}
else
{
    <div class="widget card">
        <div class="card__header">
            <h4 class="card__title">
                <i class="fa-solid fa-heart"></i> 或许喜欢
            </h4>
        </div>
        <div class="card__body">
            <ul class="sidebar-list">
                @foreach (var item in _source)
                {
                    <li class="sidebar-list__item">
                        <Tooltip Text="@item.Title">
                            <a href="/article/read/@item.Id" class="sidebar-list__link">
                                @item.Title
                            </a>
                        </Tooltip>
                    </li>
                }
            </ul>
        </div>
    </div>
}