@using System.Net
@if (_loading)
{
    <TagCloudSkeleton />
}
else
{
    <div class="widget card">
        <div class="card__header">
            <h4 class="card__title">
                <i class="fa-solid fa-tags"></i>标签
            </h4>
        </div>
        <div class="card__body">
            <div class="tag-cloud">
                @foreach (var tag in _tags)
                {
                    <a href="/article/list/tag/@(Uri.EscapeDataString(tag))"
                       class="article__tag @(Tag == tag ? "tag--active" : "")">@tag</a>
                }
            </div>
        </div>
    </div>
}
