<div class="widget card">
    <div class="card__header">
        <h4 class="card__title">
            <div class="skeleton skeleton--text skeleton--w-30" style="display: inline-block; margin: 0;"></div>
        </h4>
    </div>
    <div class="card__body">
        <div class="tag-cloud">
            <div class="skeleton skeleton--button skeleton--w-20" style="width: 3rem; height: 1.5rem; display: inline-block;"></div>
            <div class="skeleton skeleton--button skeleton--w-20" style="width: 4rem; height: 1.5rem; display: inline-block;"></div>
            <div class="skeleton skeleton--button skeleton--w-20" style="width: 2.5rem; height: 1.5rem; display: inline-block;"></div>
            <div class="skeleton skeleton--button skeleton--w-20" style="width: 3.5rem; height: 1.5rem; display: inline-block;"></div>
            <div class="skeleton skeleton--button skeleton--w-20" style="width: 2.8rem; height: 1.5rem; display: inline-block;"></div>
            <div class="skeleton skeleton--button skeleton--w-20" style="width: 4.2rem; height: 1.5rem; display: inline-block;"></div>
            <div class="skeleton skeleton--button skeleton--w-20" style="width: 3rem; height: 1.5rem; display: inline-block;"></div>
        </div>
    </div>
</div>

