@namespace Dpz.Core.WebMore.Shared.Components

<span class="tooltip @Class"
      @attributes="AdditionalAttributes"
      @ref="_triggerElement"
      @onpointerenter="Show"
      @onpointerleave="Hide"
      @onfocus="Show"
      @onblur="Hide"
      tabindex="@(Focusable ? 0 : -1)">@ChildContent</span>
