<div class="widget card">
    <div class="card__header">
        <h4 class="card__title">
             <div class="skeleton skeleton--text skeleton--w-50" style="display: inline-block; margin: 0;"></div>
        </h4>
    </div>
    <div class="card__body">
        <ul class="sidebar-list">
            <li class="sidebar-list__item">
                <div class="skeleton skeleton--text skeleton--w-80"></div>
            </li>
            <li class="sidebar-list__item">
                <div class="skeleton skeleton--text skeleton--w-90"></div>
            </li>
            <li class="sidebar-list__item">
                <div class="skeleton skeleton--text skeleton--w-75"></div>
            </li>
            <li class="sidebar-list__item">
                <div class="skeleton skeleton--text skeleton--w-60"></div>
            </li>
            <li class="sidebar-list__item">
                <div class="skeleton skeleton--text skeleton--w-80"></div>
            </li>
        </ul>
    </div>
</div>

