.comment-item.no-reply {
    text-align: center;
    display: block;
}

.comments-area .comment-item {
    display: flex;
    padding: .5em;
}

.comment-item .detail {
    flex: 1;
    padding-bottom: .5em;
    border-bottom: 1px dashed #a1a1a1;
    width: 0;
}

.comment-item:last-child .detail {
    border-bottom: none;
}

.comment-item .detail .replies {
    border-left: 5px solid #a1a1a1;
}

.comment-item .detail .comment-head {
    box-sizing: content-box;
    line-height: 1.5;
    text-align: left;
}

.comment-head .timeago {
    margin-right: 0.875em;
    color: #999;
    font-size: .75em;
}

.comment-head .btn-reply {
    border-color: initial;
    background-image: initial;
    background-color: transparent;
    float: right;
    cursor: pointer;
    border: none;
}

.btn-reply:hover {
    color: #459ff6;
}

.comment-item .detail .comment-content {
    line-height: 2;
    margin-bottom: 0.75em;
    padding-top: 0.625em;
    word-wrap: break-word;
    text-align: left;
}

.comment-loading {
    width: 3em;
}

.comment-more {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    .comment-head .btn-reply {
        color: rgb(211, 208, 202);
    }

    .btn-reply:hover {
        color: rgb(76, 171, 246);
    }

    .comment-head .timeago {
        color: rgb(168, 160, 149);
    }    
}

.comment-content img {
    max-width: 100%;
}

.comment-content ul, .comment-content ol {
    padding-left: 2em;
    margin: 1em 0;
}

.comment-content p, .comment-content ol li, .comment-content ul li {
    line-height: 1.3em;
}

.load-more img{
    height: 50px;
    margin: 0 auto;
}