@page "/article"
@page "/article/list"
@page "/article/list/{PageIndex:int}"
@page "/article/list/tag/{Tag}/{PageIndex:int}"
@page "/article/list/tag/{Tag}"

@using Dpz.Core.WebMore.Shared.Components
<PageTitle>文章列表 - 个人文章分享</PageTitle>

<div class="container">
    <div class="page-layout">
        <div class="page-content" id="article-list">
            <div class="article-grid">
                <ArticleItems Articles="_source"></ArticleItems>
            </div>
            @* TODO 分页组件 *@
        </div>

        <!-- Sidebar -->
        <aside class="page-sidebar">
            <SearchBox></SearchBox>
            <TagCloud Tag="@Tag"></TagCloud>
            <ArticleNews></ArticleNews>
            <ArticleLikes></ArticleLikes>
        </aside>
    </div>
</div>
