.mumble {
    float: left;
    margin-bottom: 20px;
    width: 66%;
    -webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
}

.mumble-list {
    position: relative;
    margin-bottom: 10px;
}

.mumble-list audio {
    max-width: 100%;
}

ul.mumble-list > li {
    animation-duration: .3s;
    animation-fill-mode: both;
    border-bottom: none;
    background-color: rgb(255, 255, 255);
    /*backdrop-filter: blur(100px);*/
    margin: 15px 0 10px 0;
    padding: 0;
    border-radius: 5px;
    box-shadow: 3px 4px 5px #808080;
    list-style: none
}

.comment-parent > img {
    width: 45px;
    height: 45px;
    margin: 5px 5px 5px 0;
    position: absolute;
    border-radius: 50px;
}

.comment-parent > span {
    width: 45px;
    height: 45px;
    margin: 5px 5px 5px 0;
    position: absolute;
    border: 1px solid #bb0662;
    border-radius: 45px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: #bb0662;
    line-height: 45px
}

.comment-child img {
    width: 40px;
    height: 40px;
    margin: 5px 5px 5px 0;
    position: absolute;
    border-radius: 50px;
}

.comment-child {
    margin-left: 53px;
    min-height: 50px;
}

.comment-child .info {
    margin-left: 48px;
    font-size: 12px;
    line-height: 20px;
}

.comment-detail {
    padding: 20px 20px 3px 20px
}

.comment-detail .content-detail {
    margin-left: 60px
}

.comment-face {
    float: left
}

.comment-face img {
    width: 50px;
    height: 50px;
    border-radius: 25px
}

.content-detail .info {
    margin: 0 0 7px 0;
}

.content-detail .time {
    color: #808080;
    text-decoration: none;
    margin-bottom: 2px;
}

.info .username {
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

.content-detail .content {
    margin-bottom: 2px;
    margin-left: 0;
    min-height: 20px;
    padding: 10px 0 0 20px;
    line-height: 25px;
    font-size: 15px
}

.content-detail .content p, .comment-text .comment-content p {
    margin-top: 0;
    margin-bottom: 16px
}



@media only screen and (max-width: 768px) {
    .mumble {
        width: 100%
    }
}

@media (prefers-color-scheme: dark) {
    .mumble {
        background: #0d1117;
        color: #c9d1d9;
    }

    .info .username {
        color: #fff
    }

    ul.mumble-list > li {
        box-shadow: 0 0 15px #4b4444;
        background-color: inherit;
    }
}
