
.loading-jump {
    position: relative;
    width: 50px;
    perspective: 200px;
}

.loading-jump:before,
.loading-jump:after {
    position: absolute;
    width: 20px;
    height: 20px;
    content: "";
    animation: jumping 0.5s infinite alternate;
    background: rgba(0, 0, 0, 0);
}

.loading-jump:before {
    left: 0;
}

.loading-jump:after {
    right: 0;
    animation-delay: 0.15s;
}

@keyframes jumping {
    0% {
        transform: scale(1) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1.2) translateY(-25px) rotateX(45deg);
        background: #00ce64;
        box-shadow: 0 25px 40px #00ce64;
    }
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #1b6ec2;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 200px + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "加载中...");
}
