<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="github-pengqian089" value="https://nuget.pkg.github.com/pengqian089/index.json" />
  </packageSources>
  <activePackageSource>

  </activePackageSource>
</configuration>
